{% extends 'base.html' %}

{% block title %}{{username}}'s Profile{% endblock %}

{% block content %}

<div class="row justify-content-center align-items-center vh-100">
    <div class="col-8 col-md-4 h-50">
        <div class="card bg-dark text-light justify-content-center h-100 rounded-lg">
            <div class="card-title text-center">{{username}}</div>
            <div class="card-body d-flex align-items-end justify-content-end">
                <button class="btn btn-secondary">Logout</button>
            </div>
            <div class="card-footer text-center">Profile Created on {{created_at}}</div>
        </div>
    </div>
</div>

{% endblock %}